
.block__list_tags:after {
    clear: both;
    content: "";
    display: block;
}
.block__list_tags {
    padding-left: 30px;
}
.block__list {
    background-color: #8dff73;
    margin-left: 5px;
    margin-top: -8px;
    max-width: 360px;
    padding: 20px 0;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}